#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav.navbar {
  position: absolute;
  padding: 18px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-bottom: 30px;
}

.navbar-expand .navbar-nav .nav-link {
  padding-left: none !important;
  align-items: center !important;
}


a.nav-link{
  display: flex;
align-items: center !important;
justify-content: center !important;
color: blanchedalmond;
padding-bottom: 20px !important;
}


a.navbar-brand {
font-size: 80px;
color: blanchedalmond;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

body {
  background-color: #818181 !important;
  color: #ffebcd !important;
}

.nav-tabs{
margin-top: 100px;
color: blanchedalmond !important;
}

.align-items-center{
  margin-top: 100px !important;
  margin-bottom: 100px;
}

.contactForm {
  margin-top: 100px !important;
}

.contactInput{
  padding: 10px;
}

.form-label{
  font-size: 20px;
}

.align-items-center img {
  border-radius: 120px 30px;
  max-width: 90%;
}

img {
max-width: 70%;
border-radius: 50px;
}

.nav-link {
  text-decoration: none !important;
  font-size: 40px !important;
  color: blanchedalmond !important; 
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
border-style: none !important;
  text-decoration: none !important;
  font-size: 40px !important;
  color: black !important;
}

.projectcard {
  display: flex !important;
  justify-content: space-around !important;
}

.card {
  background: none !important;
  border-style: none !important;
  align-items: center !important;
  width: 400px;
}

.navbar, .container {
align-items: center !important;
justify-content: center !important;
}


.navbar>.container {
  display: grid !important;
}

li.nav-item {
  font-style: none !important;
}

.nav-justified .nav-item .nav-link {
  background-color: transparent !important;
  border-style: none !important;
}