#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav.navbar {
  position: absolute;
  padding: 18px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-bottom: 30px;

}

a.nav-link{
align-items: center;
color: blanchedalmond;
}


a.navbar-brand {
font-size: 30px;
color: blanchedalmond;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e2c2c !important;
  color: #ffebcd !important;
}

.nav-tabs{
margin-top: 100px;
color: blanchedalmond !important;
}

.align-items-center{
  margin-top: 100px !important;
  margin-bottom: 100px;
}

